* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

body * {
    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
}

body {
    height: 100vh;
    background: var(--body-bg-color);
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {
    margin: 2rem;

    display: flex;
    gap: 4rem;
}

/* card */

.card {
    background: var(--bg-cards);
    padding: 2.4rem;
    border-radius: 1rem;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* nav */

.container nav {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;

    max-width: 350px;
}

.container nav .profile {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container nav .profile .gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to left, orange, red);

    width: fit-content;
    padding: .2rem;
    
    border-radius: 50%;
    margin-bottom: 2rem;
}

.container nav .profile img {
    width: 8rem;
    border-radius: inherit;
    border: .4rem solid var(--body-bg-color);
}

.container nav .profile h1 {
    margin-bottom: .4rem;
}

.container nav .profile p {
    font-size: 13px;
}

/* links */

.container nav .links {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
}

.container nav .links li a {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 13px;

    line-height: 1.2rem;
}

.container nav .links li a img {
    filter: invert(56%) sepia(8%) saturate(987%) hue-rotate(209deg) brightness(88%) contrast(91%);
}

/* techs */

.container nav .techs h1 {
    margin-bottom: 1.6rem;
}

.container nav .techs ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.container nav .techs ul li {
    list-style-type: none;

    background: var(--bg-techs);
    border-radius: 9999px;
    padding: .5rem .6rem;

    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    
    color: #000;
}

/* formation (experiences & education cards) */

.container nav .formation h1 {
    margin-bottom: 1.6rem;
}

.container nav .formation ul {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    padding-left: 2rem;
}

.container nav .formation ul li {
    list-style-type: disc;
    font-size: 13px;
}

/* main */

.container main {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.container main .projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container main .projects h1 {
    font-size: 21px;
}

/* latest projects */

.container main .latest-projects {
    
}

.container main .latest-projects .projects-overview {
    /* display: flex; */
}

.container main .latest-projects .projects-overview header {
    
}